<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head}"></head>

<style>

.login-section{
    min-height:90vh;
    background:#495370;
    display:flex;
    align-items:center;
    justify-content:center;
}

.login-box{
    width:350px;
    text-align:center;
}

.user-icon{
    width:80px;
    margin-bottom:15px;
}

.input-pill{
    border-radius:30px;
}

.btn-pill{
    border-radius:30px;
}

</style>

<body>

<header th:replace="~{fragmentos :: header}"></header>

<section class="login-section">

    <table>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
    </tr>

    <tr th:each="p : ${productos}">
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.precio}"></td>
        <td th:text="${p.categoria.nombre}"></td>
    </tr>
</table>

</section>

<footer th:replace="~{fragmentos :: footer}"></footer>

</body>
</html>